include MANIFEST.in
include LICENSE
include HISTORY.rst
include README.rst
include setup.py
include mesa_adapted/cookiecutter-mesa/*
include mesa_adapted/visualization/templates/*.html
include mesa_adapted/visualization/templates/css/*
include mesa_adapted/visualization/templates/fonts/*
include mesa_adapted/visualization/templates/js/*
